.container{
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  background-color: #2B2D42;
  display: grid;
  grid-template-rows: 0.15fr 0.85fr;
  grid-template-areas: 'header' 'main';
  color: white;
}
.header{
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}
.logo{
  margin-left: 5vw;
  flex-grow: 1;
}
.links{
  margin-right: 5vw;
}
#signupLink{
  margin-left: 5vw;
  padding: 10px;
  background-color: #8D99AE;
  border-radius: 10px;
}
.body{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.head1{
  margin-top: 20vh;
}
.head2{
  margin-top: 10vh;
}
.getstartedButton{
  margin-top: 10vh;
  padding: 10px;
  background-color: #8D99AE;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .logo{
    font-size: 6vw;
  }
  .links{
    font-size: 5vw;
  }
  .head1{
    font-size: 6vw;
    font-weight: 600;
  }
  .head2{
    font-size: 6vw;
  }
  .getstartedButton{
    align-self: center;
    width: 30vw;
  }

}

@media screen and (min-width: 481px){
  .logo{
    font-size: 3vw;
  }
  .links{
    font-size: 2vw;
  }
  .head1{
    font-size: 3vw;
    font-weight: 600;
  }
  .head2{
    align-self: center;
    font-size: 3vw;
    width: 60vw;
  }
  .getstartedButton{
    font-size: 2vw;
    align-self: center;
    width: 30vw;
  }
}
