.container {
    height: 100vh;
    min-height: 600px;
    width: 100vw;
    background-color: #2B2D42;
    display: grid;
    grid-template-rows: 0.15fr 0.85fr;
    grid-template-areas: 'header' 'main';
    color: white;
}

.header {
    grid-area: header;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .header{
        font-size: 6vw;
        font-weight: 700;
    }
    .textInput{
        width: 70vw;
        font-size: 4vw;
        height: 5vh;
        border: none;
        border-bottom: 1px solid black;
    }
    .submit{
        width: 70vw;
        font-size: 4vw;
        font-weight: 700;
        height: 5vh;
        border: none;
        background-color: #EDF2F4;
    }
}

@media screen and (min-width: 769px){
    .header{
        font-size: 3vw;
        font-weight: 700;
    }
    .textInput{
        width: 40vw;
        font-size: 2vw;
        height: 4vw;
        border: none;
        border-bottom: 1px solid black;
    }
    .submit{
        width: 40vw;
        font-size: 2vw;
        font-weight: 600;
        height: 4vw;
        border: none;
        background-color: #EDF2F4;
    }
}